body {
    background: linear-gradient(90deg, #15477F, #4e4e4e);
    background-image: url(imagens/back-passagem-10.png);
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: black;
}

.login-container {
    height: 100vh;
}

.login-card {
    background: rgba(255, 255, 255);
    backdrop-filter: blur(12px);
    border-radius: 36px;
    box-shadow: 0 0 30px rgba(50, 50, 50, 0.4);
    margin-top: -30px;
    padding: 40px;
    width: 100%;
    height: 500px;
    max-width: 800px;
    border: 1px solid #ffffff1a;
}

.card-cad {
    background: #15477F;
    margin-left: 56%;
    border-radius: 60px 36px 36px 60px;
    margin-top: -41px;
    padding: 40px;
    height: 500px;
    width: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1);
}


.forms {
    margin-top: -490px;
}

.forms input {
    margin-bottom: 0px;
}

.forms h2 {
    color: #333;
    font-weight: bold;
    margin-left: 130px;
    font-size: 25px;
    margin-bottom: 20px;
}

.card-cad h4 {
    display: flex;
    font-weight: bold;
    font-size: 34px;
    margin-right: 15px;
    margin-top: -60px;
}

.card-cad p {
    display: flex;
    font-size: 17px;
    font-weight: bold;
    margin-right: 140px;
    margin-bottom: 30px;
}

.ja-tenho-conta {
    display: flex;
    font-size: 14px;
    font-weight: bold;
    margin-right: 140px;
    margin-bottom: 30px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 55%;
    justify-content: center;
}

.form-label {
    font-weight: bold;
    height: 1px;
}

.logo {
    width: 300px;
    margin-top: -20px;
    margin-left: -15px;
    margin-bottom: 20px;
}


.form-control {
    background: #0f172a;
    border: 1px solid #334155;

    color: #fff;
}

.icone-form {
    background: #15477F;
    border: 1px solid #334155;
    color: #fff;
}

.form-control:focus {
    background: #0f172a;
    border-color: #15477F;
    box-shadow: none;
    color: #fff;
}

.btn-login {
    width: 100%;
    height: 48px;
    background: #15477F;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.btn-login:hover {
    background-color: #1e4470;
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);

}

.esqueci-senha {
    text-align: right;
    font-size: 14px;
    ;
    margin-top: 10px;
    transition: color 0.3s;
}

.esqueci-senha:hover {
    color: #15477F;
    text-decoration: none;
}

.grid-login {
    display: flex;
    justify-content: start;
    margin-left: 55px;
}

.grid-login a {
    display: inline-flex;
    padding: 10px;
    text-decoration: none;
    margin-left: -20px;
    border: 2px solid #ccc;
    background-color: #ffffff1a;
    border-radius: 8px;
    font-size: 14px;
    color: #333;
    margin: 0 8px;
}

.grid-login a:hover {
    background-color: #15477F;
    border-color: #15477F;
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}


.btn-login:hover {
    opacity: 0.9;
}

.text-muted {
    color: #94a3b8 !important;
}